{% extends 'aluno/base.html' %}

{% block content %}
<h2>{% if form.instance.pk %}Editar Aluno{% else %}Cadastrar Novo Aluno{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    <a href="{% url 'alunos' %}" class="btn btn-danger">Cancelar</a>
</form>

<!-- jQuery + jQuery Mask -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function(){
        $("#id_cpf").mask("000.000.000-00");
        $("#id_rg").mask("0000000000-0");
        $("#id_telefone").mask("(00) 0000-0000");
        $("#id_telefone_emergencia").mask("(00) 0000-0000");
        $("#id_cep").mask("00000-000");
    });
</script>
{% endblock %}
